@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-somstyle-gray-dark bg-white;
}


